<h1>Related links:</h1>
<ul class="list-unstyled">
	  <h8 class="lead"> 
	  	<li> <%= link_to "American Society of Hematology", "http://www.hematology.org" %></li></h8>
	  <h8 class="lead"> 
	  	<li> <%= link_to "Samuel Waxman Cancer Research Foundation", "http://www.waxmancancer.org" %></li></h8>
	  <h8 class="lead"> 
	  	<li> <%= link_to "Ann & Robert H. Lurie Children's Hospital", "https://www.luriechildrens.org/" %></li></h8>
	  <h8 class="lead"> 
	  	<li> <%= link_to "Robert H. Lurie Comprehensive Cancer Center of Northwestern University", "http://www.cancer.northwestern.edu" %></li></h8>
	  <h8 class="lead"> 
	  	<li> <%= link_to "Northwestern Medicine", "http://www.northwesternmedicine.org/" %></li></h8>
	</ul>

<h1>Twitter feeds:</h1>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-4">
			<div class="text-center">
				<h5 class="text-center">Ann & Robert H. Lurie Children's Hospital </h5>
				<a class="twitter-timeline", href="https://twitter.com/LurieChildrens" data-widget-id="469933072381517824">Tweets by @LurieChildrens</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="text-center">
				<h5>Robert H. Lurie Comprehensive Cancer Center</h5>
				<a class="twitter-timeline" href="https://twitter.com/LurieCancer" data-widget-id="469932942353903616">Tweets by @LurieCancer</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="text-center">
				<h5 class="text-center">Northwestern Medicine</h5>
				<a class="twitter-timeline" href="https://twitter.com/NMHnews" data-widget-id="469925500912025600">Tweets by @NMHnews</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>	
</div>


